<h1>Bookmark Manager</h1>
<ol><% @bookmarks.each do |bookmark| %>
<li><a href="<%= p bookmark %>"><%= p bookmark %></a></li>
<% end %>
</ol>
<form action="/new" method="post">
<input type="text" name="url" placeholder="http://www.correctformat.com" />
<input type="submit" value="Add bookmark" />
</form>
